
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: outside none none;
}
a {
  color: #4e4e4e;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0 none;
}
input[type="button"], input[type="submit"] {
}
.clr {
  color: #34495e !important;
}
.clrHover:hover {
  color: #1abc9c !important;
}
.under:hover {
  text-decoration: underline !important;
}
.bold {
  font-weight: bold;
}
@font-face {
  font-family:'Helve';
  //src:url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
  //url('../fonts/HelveticaNeue-Light.eot#iefix') format('embedded-opentype'),
  //url('../fonts/HelveticaNeue-Light.woff') format('woff'),
  //url('../fonts/HelveticaNeue-Light.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
body {
  color: #4e4e4e;
  font-family:'helvetica';
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.header {
  overflow: hidden;
  width: 100%;
  background-color: #f7f7f7;
}
.body {
  //height: 100%;
  overflow: hidden;
  width: 100%;
  background: #e0d2f9 none repeat scroll 0 0;
}
#footer {
  overflow: hidden;
  width: 100%;
  background-color:#f7f7f7;
}
.active {
  color:#5e48cd;
}
#search_query .active {
  color: #454545!important;
}
a.top-menu:hover
{
  color:#5e48cd;
}


.header-top {
  height: 40px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}
.top-menu
{
  margin-top:10px;
  text-transform:uppercase;
  float: right;
  height: 24px;
  margin-top: 10px;
  position: relative;
  line-height:20px;
  margin-left:20px;
  font-size:15px;
}

.mocha-top
{
  background:url('http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/header-2.png') no-repeat;
  width: 960px;
  height:485px;
  margin: 0 auto;
  position:relative;

}
.logo-a {
  height: 100px;
  left: 375px;
  position: absolute;
  top: 214px;
  width: 275px;

}
.logo-img {
  text-align: center;
  width:230px;
  padding:0;
}
.mocha-download {
  bottom: 37px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 960px;
}
.mocha-download-a {
  background: #594ac8 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 20px;
  margin-left: 340px;
  margin-right: 50px;
  padding: 15px 35px;
  border-radius:60px;
}
.top-menu.active {
  border-bottom: 2px solid #5e48cd;
  font-weight: bold;
  line-height: 14px;
  padding-top: 4px;
}
.download-ios {
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/ios.png") no-repeat scroll 0 0;
  float: left;
  height: 28px;
  margin-right: 15px;
  margin-top: 13px;
  position: relative;
  width: 70px;
}
.download-windơns {
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/Windows.png") no-repeat scroll 0 0;
  float: left;
  height: 24px;
  margin-right: 15px;
  margin-top: 15px;
  position: relative;
  width: 110px;
}
.download-android {
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/Android.png") no-repeat scroll 0 0;
  float: left;
  height: 24px;
  margin-right: 15px;
  margin-top: 13px;
  position: relative;
  width: 100px;
}
.mocha-content
{
  background:#594ac7;
}
.box-mocha-content
{
  display: block;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 10px;
  width: 960px;
}
.box-mocha-left
{
  width:820px;
  float:left;
}
.box-mocha-tight
{
  width:260px;
  float:left;
}
.mocha-a img
{

  margin-top:50px;
  display:block;

}

.mocha-h1
{
  color:#ffffff;
  line-height:30px;
  font-size:37px;
}
.mocha-ul
{
  color:#ffffff;
  margin-top:30px;

}
.mocha-li
{
  color:#ffffff;
  line-height:35px;
  background: transparent  url(http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/icon.png) no-repeat scroll 1px 3px;
  padding-left:30px;
  font-size:16px;

}
.mocha-item
{
  background:#ffffff;
  border-bottom:1px solid #E1E1E1;
}
.mocha-item:nth-child(2n +1)
{
  background:#F9F9F9;
}

.mocha-item-content
{
  display: block;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 10px;
  width: 960px;

}
.mocha-content-left
{
  float: right;
  width: 400px;
}
.mocha-content-right
{
  width:540px;
  float:right;
  //margin-top: -200px;
}
.mocha-content-p
{
  font-size: 30px;
  line-height: 37px;
  margin-top: 52px;
  padding: 30px 0;
  text-transform: uppercase;
}
.mocha-content-span
{
  font-size:16px;
  line-height:22px;


}


.mocha-footer{

  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  padding: 15px 10px;
  width: 1170px;
  display:block;
  overflow:hidden;
}
.provision-intro
{
  float: left;
  font-size: 15px;
  line-height: 22px;
  margin-top:25px;
  margin-left:30px;
}
.provision
{
  font-size:15px;
  cursor:pointer;
}
.logo-mocha
{

  background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/logo_mocha.png) no-repeat scroll left top;
  display: inline;
  float: left;
  height: 65px;
  width: 185px;
  margin-top:22px;
}
.logo-top
{

  background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/logo_mocha.png) no-repeat scroll left top;
  display: inline;
  float: left;
  height: 40px;
  width: 185px;
}


.logo-viettel
{

  display: inline;
  float: right;
  height: 65px;
  width: 185px;

}
.logo-congthuong{margin-top:23px;}

.mocha-guide
{
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/bg.png") repeat-x scroll left top;
  padding: 15px 0px;

}
.mocha-guide-content
{
  display: block;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  background:#FFF;
  border-radius: 10px;
  height:auto;
}
.mocha-guide-p
{
  color:#5e48cd;
  line-height:30px;
  font-size:35px;
  margin:15px;
}
.mocha-guide-p1
{
  color:#585858;
  line-height:18px;
  font-size:14px;
  margin-top:10px;
  margin:15px;
}
.mocha-guide-p2
{
  color:#585858;
  line-height:20px;
  font-size:14px;
  margin-left:60px;
  margin-right:10px;
  position:relative;
}
.mocha-guide-ul
{
  color:#000;
  margin-top:30px;

}
.mocha-guide-li
{
  color:#1b1b1b;
  line-height:20px;
  background: transparent  url(http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/logo_mocha.png) no-repeat scroll 40px 0.4em;
  padding-left:60px;
  font-size:14px;

}

.box-faq
{
  display: block;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  padding-bottom:20px;
  background:#FFF;
  border-radius: 10px;
  height:auto;

}

.faq-click {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
}
.box-faq-row {
  margin-bottom: 8px;
  padding-left: 17px;
  width: 927px;
}
.faq-sp {
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/arrow.png") no-repeat scroll left top;
  height: 54px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 49px;
}
.faq_show .faq-sp {
  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/arrow_down.png") no-repeat scroll left top;
}
.hide_faq {
  display: none;
}

.faq-p {
  border: 1px solid #d7d7d7;
  color: #333333;
  font-family: Helve;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 50px;
  text-align: left;
  background:#f7f7f7;
}
.faq-content {
  border: 1px solid #d7d7d7;
  color: #333333;
  font-family: Helve;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 50px;
  position: relative;
  text-align: left;
  top: -1px;
}


.mocha-contact
{
  display: block;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
  background:#FFF;
  border-radius: 10px;
  height:960px;

}
.mocha-contact-p1
{
  color:#1b1b1b;
  line-height:23px;
  font-size:16px;
  margin-top:10px;
  margin:15px;
}
.mocha-contact-letft
{
  width:620px;
  float:left;
}
.mocha-contact-right
{
  width:340px;
  float:left;
  text-align:center;
  margin-top:10px;
}
.mocha-contact-list
{
  border-top:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  margin:15px;
  display:inline-block;
  padding:30px;
  width:90%;
}
.mocha-contact-item
{
  //margin-left: 26px;
  margin-top: 10px;
  width: 346px;
  float:left;
}
.mocha-contact-item:nth-child(2n-1) {
  width: 220px;
}
.mocha-contact-item-left
{
  float:left;
}
.mocha-contact-item-right
{
  float:left;
  margin-left:10px;
}
.mocha-contact-item-p
{
  color:#1b1b1b;
  line-height:18px;
  font-size:16px;
  margin-bottom: 0!important;
}
.mocha-contact-item-a
{
  color:#7360d4;
}
.mocha-contact-item-p1
{
  color:#7360d4;
}

.mocha-download-list
{
  float:left;
  width:100%;
}
.mocha-download-item
{
  text-align:center;
  width:315px;
  float:left;
}
.mocha-download-item-img
{
  display:inline-block;
  position:relative;
  margin-bottom:30px;
}
.box-faq.box-download {
  padding-bottom: 80px;
}
.mocha-download-a1
{
  background:#594ac8;
  color:#FFF;
  font-size:20px;
  padding: 15px 50px;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  font-size:23px;

}
.mocha-detail{padding:0px 15px;font-size:16px;padding-bottom:20px;line-height:24px}
.mocha-detail p{margin-bottom:10px;color:#1b1b1b;line-height:25px;}
.top-header a.function {
  background: url(http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/function.png) no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 95px;
}
.top-header{width:960px;margin:auto;text-align:right;height:46px;position:absolute;top:0px;left:50%;margin-left:-480px;z-index:10}
.top-header a {
  cursor: pointer;
  display: inline-block;
  height: 46px;
}
.top-header a.logout {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/logout.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 104px;
  display:none;
}
.top-header a.faq {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/faq.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 80px;
}
.top-header a.contact {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/contact.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 72px;
}

.top-header a.logout:hover, .top-header a.logout_active {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/logout_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 104px;
}
.top-header a.function:hover, .top-header a.function_active {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/function_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 95px;
}
.top-header a.faq:hover, .top-header a.faq_active {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/faq_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 80px;
}
.top-header a.contact:hover,.top-header a.contact_active {
  background: url("http://live84.keeng.net/playnow/images/static/web/gioi_thieu_app/contact_a.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  width: 72px;
}
.provision{text-decoration:none;}
provision-intro{font-size: 14px; position: absolute; cursor: pointer; left: 212px; top: 78px;color:#353535}
.provision:hover{text-decoration:underline;}
