.slick-slider {

}
.slick-list, .slick-slider {
  position: relative;
  display: block;
  //max-height: 678px;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list, .slick-slider {
  position: relative;
  display: block;
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  //height: 100%;
  min-height: 1px;
}

.slick-dots {
  position: absolute;
  bottom: 32px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


.slick-dots li, .slick-dots li button {
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: transparent;
  outline: none;
}

.slick-dots button{
  background-color: #808082;
}

.slick-active button{
  background-color: #fff;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin-right: 219px;
  margin-bottom: 45px;
  padding: 0;
}
.slick-initialized .slick-slide.slick-active {
  z-index: 1;
}

//.slick-arrow {
//  display: none !important;
//}
.slick-prev {
  position: absolute;
  z-index: 1;
  top: 25%;
}

.slick-next {
  position: absolute;
  right: 0;
  top: 25%;
}

