#body {
    background-color: #f5f5f5  !important;
    /*padding-bottom: 35px;*/
    /*min-height:1000px;*/
}

.upload-center {
    padding-top: 90px;
    /*overflow: initial !important;*/
}

.upload-right {
    height: 635px;
}

.upload-select {
    width: 285px !important;
}

#files {
    border: 1px dotted #0088cc;
    padding: 20px;
    width: 200px;
    display: none;
}

#dropUp {
    padding: 75px;
    width: 635px;
    height: 635px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

#files {
    border: 1px dotted #0088cc;
    padding: 20px;
    width: 200px;
    display: none;
}

.lb-youtube {
    width: 100%;
}

.upload-process {
    width: 685px;
    background: #ffffff;
    margin: auto;
    border-radius: 10px;
}

.ul-box {
    padding-top: 100px;
}

.row-form {
    width: 100%;
    padding: 5px 20px 0 20px;
}

.form-group {
    margin-bottom: 15px;
}

.upload-process .progress {
    width: 100%;
}

.row-form .progress {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 15px 0 0;
    line-height: 31px;
    height: 31px;
    vertical-align: middle;
    background: #efefef;
    box-shadow: none;
}

.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.row-form .text-1 {
    padding-top: 10px;
    padding-bottom: 0;
    display: inline-block;
    font-size: 11px;
}

.row-form .progress-bar {
    line-height: 31px;
    vertical-align: middle;
}

.row-form .progress .close-progress {
    padding: 15px 10px;
    cursor: pointer;
    float: right;
    line-height: 0;
    color: #898989;
    position: absolute;
    right: 0;
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #39b54a;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.clearfix {
    clear: both;
}

.row-form .form-control {
    background: #efefef;
    box-shadow: none;
    border-color: #e2e2e2;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea.form-control {
    height: auto;
    outline: none;
}

.accordion-wrap {
    padding: 15px 0;
}

.pl-hoder-cl ::placeholder {
    color: #959595;
    opacity: 1; /* Firefox */
}

.pl-hoder-cl ::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #959595;
}

.pl-hoder-cl ::-ms-input-placeholder { /* Microsoft Edge */
    color: #959595;
}

.upload-notice {
    background-color: #BD362F;
    color: #fff;
    border-radius: 5;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 12px;
    left: 12px;
}

.btn-upload-success {
    padding-left: 20px;
}

.upload-process .title-video-info .title {
    font-size: 16px;
    color: #222222;
    padding: 10px 0px;
}

.btn-upload-success a {
    font-size: 16px;
    width: 200px;
}

.title-video-info .title {
    font-size: 16px;
    color: #222222;
    padding: 10px 0px;
    font-weight: bold;
}

.row-form-sub {
    width: 80%;
}

#dropUp img {
    margin-top: 125px;
}

.text-up-p {
    font-weight: bold;
    margin: 30px 0 11px 0;
}

.lb-browser {
    padding: 20px 0 0 20px;
    width: 100%;
}

.accordion-wrap .form-group {
    position: relative;
}

.form-group .numInput {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #848484;
}

#txtVideoName {
    padding-right: 74px;
}

#txtDescVideo {
    padding-right: 74px;
}
.mbl-btn-login.youtube:hover{background:#5e48cd !important;color:#fff}
.youtube{background:#ebebeb !important;color:#959595;font-weight:bold}
.mbl-form-btnup{margin-top:40px;}
.bpl-info{background: #ffffff;
overflow: hidden;
padding: 20px;
border-radius: 10px;
margin-bottom: 22px;}
.progress-text{position:absolute;padding: 0 10px;color:#dcdcdc}