@font-face{font-family:Roboto;src:url(fonts/Roboto-Regular.woff) format("woff"),url(fonts/Roboto-Regular.ttf) format("truetype");font-weight:normal;font-style:normal}

@font-face{font-family:Roboto;src:url(fonts/Roboto-Italic.woff) format("woff"),url(fonts/Roboto-Italic.ttf) format("truetype");font-weight:normal;font-style:italic}


@font-face{font-family:Roboto;src:url(fonts/Roboto-Bold.woff) format("woff"),url(fonts/Roboto-Bold.ttf) format("truetype");font-weight:bold;font-style:normal}

@font-face{font-family:Roboto;src:url(fonts/Roboto-BoldItalic.ttf) format("truetype");font-weight:bold;font-style:italic}
* {
    padding: 0;
    margin: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #454545;
    outline: 0
}
.play-channel-h3-new a {
    color: #454545;
}
a:hover{
    text-decoration: none !important;
}

input {outline: 0
}

img {
    border: 0
}

.clr, .clrHover:hover {
    color: #90BE04 !important
}

.clear {
    clear: both
}

.f-left {
    float: left !important
}

.f-right {
    float: right !important
}

/*.under:hover {*/
/*    text-decoration: underline !important*/
/*}*/

.hidden {
    display: none
}

.bold {
    font-weight: 700
}


html {
    margin-bottom: 1px;
    height: 100%
}

body {
    color: #454545;
    font-family: Roboto!important;
    font-size: 14px;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: none;
    background-color:#f5f5f5 !important;
}
#body{position:relative;}
#wraper {
    margin: 0 auto;
    width: 100%;
    /*position: relative;*/
    /*overflow:hidden;*/
}

#header {
    position:absolute;
    top:0px;
    left:0px;
    z-index:9;
    width:100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}
#header.active
{
    background: linear-gradient(to bottom, rgba(35,35,35) 0%,rgba(35,35,35) 100%) !important;
}
.container-wrap {
    margin: 0 auto;
    width: 1170px;
    position:relative;
}
.wrap-bpk{
    margin: 0 auto;
    padding:0 2rem;
}
.wrap-bpk-dv{ margin: 0 auto;
    width: 1170px;}

.player-detail .wrap-bpk-dv{ margin: 0 auto;
    width: 800px;}
.phim-keeng-logo {
    float: left;
}
.phim-keeng-logo img.pk-img-logo {
}
.phim-keeng-tab {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 25px;
}
.phim-keeng-tab a {
    color: #ffffff;
    float: left;
    margin-right: 35px;
}
.phim-keeng-tab a.active {
    border-bottom: 2px solid #7ab014;
    color: #7ab014;
    padding-bottom: 2px;
}
.phim-keeng-search {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    float: left;
    height: 40px;
    margin-left: 60px;
    margin-top: 15px;
    width: 575px;
    overflow:hidden;
    border-radius:40px;
    padding-left:15px;
    position: relative;
}
.pk-search-btn {
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_01.png) no-repeat center center;
    height:40px;
    width:40px;
    float:right;
    border:0px;
}
.pk-search-btn-video {
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_01a.png) no-repeat center center;
    height:40px;
    width:40px;
    float:right;
    border:0px;
}
.pk-search-txt {
    height:38px;
    float:left;
    background-color:transparent;
    width: 500px;
    border:0px;
    color:#ffffff;
    font-size:16px;
}
.phim-keeng-login {
    color: #ffffff;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 20px;
    position:relative;
    margin-bottom: 0;
}
.phim-keeng-login a {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    max-width: 145px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.phim-keeng-login a:hover {
    color: #ffffff;
}

.sp-info-user a:hover {
    color: #454545;
}

.phim-keeng-login img{
    display: block!important;
    float: right;
    margin-left: 20px;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    margin-top: 3px;
}
.slider-owl-keeng {
    overflow: hidden;
}
.slider-owl-item {
    width: 100%;
}
.slider-owl-item img {
    width: 100%;
}
.slider-owl-item img {
    width: 100%;
}
.slider-owl-keeng .owl-nav {
    display: none;
}
.slider-owl-keeng .owl-dots {
}
.slider-owl-keeng .owl-controls {
    bottom: 40px;
    position: absolute;
    width:100%;
    text-align:center;
}
.slider-owl-keeng .owl-dot {
    background: #808082 none repeat scroll 0 0;
    border-radius: 9px;
    display: inline-block;
    height: 14px;
    margin: 0 25px;
    width: 14px;
}
.slider-owl-keeng .owl-dot.active {
    background: #ffffff none repeat scroll 0 0;
}
#slider_owl_keeng{margin-bottom:60px;}


.box-phim-keeng {
    margin-bottom: 25px;
}

.phim-keeng-h3 {
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    margin-bottom: 25px;
}

.phim-keeng-h3 a {
    color:#454545;
    display:inline-block;
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_04_a1.png) no-repeat right center;
    padding-right:25px;
}
.phim-keeng-h3 p {
    color:#454545;
    display:inline-block;
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_04_a1.png) no-repeat right center;
    padding-right:25px;
}
.mocha-video-phim .phim-keeng-h3 a {
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_04.png) no-repeat right center;
}

.phim-keeng-h3 a:hover {
    color:#5e48cd;
    cursor:pointer;
    background:url(http://live84.keeng.net/playnow/images/static/web/mocha_video_04_a.png) no-repeat right center
}

.keeng-h3-span {
    color: #7ab014;
    float: left;
    font-size: 18px;
    margin-left: 11px;
    padding-top: 2px;
    text-transform: uppercase;
}

.av-top-small {
    padding-left: 0;
    padding-right: 0px;
    width: 257px;
    float:left;
    margin-right: 20px;
}

.av-top-small-dV {
    padding-left: 0;
    padding: 0px 6px;
    width: 186px !important;
    float: left;
    margin-bottom: 15px;
    margin-right:15px;
}

.av-top-small-dV .ats-lnk-img {
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 267px;
}

.ats-lnk-img {
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    overflow:hidden;
    border-radius:10px;
}

.av-top-small-dV .ats-lnk-img img{border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
}

.ats-lnk-img img {
    border-radius: 10px;
    display: block;
    height: 343px;
    width: 100%;
    opacity:1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.owl-slider-av {
    position:relative;
    display: block;
}

.ats-info{text-align: center;}
.ats-info-h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.ats-info-h3 a {
    color: #ffffff;
}
.ats-info-h3-dV a {
    color: #000000;
}

.ats-info-h3-dV {
    font-size: 1rem;
    font-weight: bold;
    /*line-height: 0.8;*/
}

.ats-info-price {
    color: #ff0000;
    height: 20px;
}
.owl-slider-next {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_05.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    right: -26px;
    top: 47px;
    width: 63px;
    z-index: 2;
    opacity:0.9;
    border: none;
}

.mocha-video-phim .owl-slider-next {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_05.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    right: -5px;
    top: 47px;
    width: 63px;
    z-index: 9;
    opacity: 0.9;
}
.mocha-video-phim .owl-slider-back {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/mocha_video_06.png) no-repeat scroll center center;
    height: 63px;
    position: absolute;
    left: -6px;
    top: 47px;
    width: 63px;
    z-index: 9;
    opacity:0.9;
}

.mocha-box-login-new .owl-slider-next {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_05.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    right: -32px;
    /*top: 110px;*/
    width: 63px;
    z-index: 6;
    opacity:0.9;
}
.mocha-box-login-new .owl-slider-back {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_06.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    left: -32px;
    /*top: 110px;*/
    width: 63px;
    z-index: 9;
    opacity:0.9;
}
.owl-slider-back{
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_06.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    left: -26px;
    top: 47px;
    width: 63px;
    z-index: 2;
    opacity:0.9;
    border: none;
}
.owl-slider-next:hover {
    background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_05_a.png") no-repeat scroll center center;

}


.rl .owl-slider-next {
    height: 63px;
    position: absolute;
    right: -32px;
    top: 47px;
    width: 63px;
    z-index: 9;
    opacity:0.9;
}
.rl .owl-slider-back{  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_06.png") no-repeat scroll center center;
    height: 63px;
    position: absolute;
    left: -32px;
    top: 47px;
    width: 63px;
    z-index: 9;
    opacity:0.9;
}


.owl-slider-back:hover{  background: rgba(0, 0, 0, 0) url("http://live84.keeng.net/playnow/images/static/web/mocha_video_06_a.png") no-repeat scroll center center;
}
.swiper-button-disabled{display:none;}
.box-phim-keeng{margin-bottom:60px;}
.wrap-bpk-top{}
.box-phim-top{background:#413A36;}
.box-phim-top .owl-slider-top{width:120%;}
.box-phim-top .wrap-bpk{overflow:hidden;padding: 50px 0 40px;}
.sp-number-film{
    color: #ffffff;
    font-size: 14px;
    right: 15px;
    border-radius: 15px;
    text-align: center;
    background: #5e48cd none repeat scroll 0 0;
    border-radius: 9px;
    color: #ffffff;
    padding: 5px 10px;
    position: absolute;
    right: 16px;
    top: 222px;

}
.keeng-cate-hot {
    margin-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
}
.cate-hot-wrap {
    position:relative;
}
.cate-hot-item {
    display: block;
    padding: 0px 15px;
    position: relative;
    width: 165px;
    text-align: center;
}
.cate-hot-item img {

    border-radius: 84px;
    width: 105px;
    height: 105px;
    margin-bottom: 10px;
    transition: .5s ease;
}
.keeng-cate-hot .owl-slider-next{top:15px;}
.keeng-cate-hot .owl-slider-back{top:15px;}
.owl_slider_av{position:relative;}
.player-detail {
    background: #000000 none repeat scroll 0 0;
    padding-top: 70px;
}
.slider-video {
    position: relative;
}
.owl-slider-video {
    margin: auto;
    width: 1060px;
}
.slider-video-item {
    float: left;
    margin-right: 20px;
    width: 195px;
}
.slider-video-item .svi-img {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}
.slider-video-item .svi-sp {
    color: #ffffff;
    font-size: 15px;
}
.info-video {
    overflow: hidden;
    /*padding-top: 10px;*/
}
.info-video-left {
    float: left;
    margin-right: 30px;
    width: 180px;
}
.info-video-left img {
    border-radius: 5px;
    width: 100%;
}
.info-video-right
{
    padding-bottom:10px;
}
.info-video-name {
    color: #2c2c2c;
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-video-share {
    color: #ffffff;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 20px;
}
.info-video-share span {
    display: inline-block;
    overflow: hidden;
}
.info-video-share a {
    color: #ffffff;
    display: inline-block;
    margin-right: 85px;
    overflow: hidden;
}
.info-video-share img {
    float: left;
    margin-right: 15px;
}
.info-video-ul {
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;
}
.info-video-ul li {
    float: left;
    line-height: 27px;
    width: 50%;
}
.info-video-content {
    padding-bottom: 60px;
    padding-top: 60px;
}
.info-video-content ivc-wrap {
}
.slider-video .owl-slider-next {
    right: 0;
    top: 30px;
}
.slider-video .owl-slider-back {
    left: 0;
    top: 30px;
}
.ivc-wrap {
    color: #636466;
    font-size: 15px;
    line-height: 22px;
    padding-right: 290px;
}
#footer {
    background: #f5f5f5 none repeat scroll 0 0;
    padding:25px 0px 25px 0px;
    margin-top: 35px;
    border-top: 1px solid #dcdcdc;
}
.footer-top {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 15px;
    width: 1170px;
}
.footer-menu {
    float: left;
    font-size: 12px;
    padding-left: 35px;
    width: 750px;
}
.footer-menu-h3 {
    margin-bottom: 10px;
}
.footer-menu-h3 a {
    color: #ffffff;
}
.footer-menu-ul {
}
.footer-menu-ul li {
    float: left;
    margin-bottom: 5px;
    padding: 0 45px 5px 3px;
}
.footer-menu-ul li a {
    color: #000000;
    width: 62px;
    display: inline-block;
    cursor: pointer;
}
.footer-logo-other {
    float: right;
    position: relative;
    width: 400px;
}
.footer-logo-other a {
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 122px;
    height: 37px;
}
.footer-logo-other a img {
}
.footer-bottom {
    margin: 0 auto;
    overflow: hidden;
    padding: 35px 0 0 35px;
    width: 1170px;
}
.logo-footer {
    float: left;
    margin-top: 35px;
    cursor:pointer;
}
.logo-footer img {
}
.footer-info {
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-left: 30px;
}
.footer-info h3
{
    font-size:15px;
}
.footer-info a {
    color: #000000;
}
.footer-app-keeng {
    float: right;
    margin-right: 44px;
}
.app-keeng-title {
    color: #000000;
    margin-bottom: 20px;
    font-size:15px;
}
.app-keeng-p {
}
.app-keeng-p a:first-child {
    margin-right: 21px;
    margin-left: 20px;
}
.submenu.menu-header {
    background: #ffffff none repeat scroll 0 0;
    display: none;
    padding: 10px 30px;
    position: absolute;
    width: 125px;
    z-index: 2147483647;
    top:23px;
}
.submenu ul li {
    display: block;
    width: 125px;
    float: left;
    line-height: 20px;
    position: relative;
}
.submenu a {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    margin-right: 25px;
    text-decoration: none;
    color: #252525;
    margin-left: 10px;
}
.phim-keeng-tab > span{float: left;
    position: relative;}
.phim-keeng-tab > span:hover  .submenu.menu-header{display:block;}
.playnow-home-item-new {
    float: left;
    margin-bottom: 30px;
}
.mocha-box-login-new .playnow-home-link-new {
    display: block;
    position: relative;
    overflow:hidden;
    margin-bottom: 9px;
    text-align: center;
    background: #000000;
}
.playnow-home-link-new {
    display: block;
    position: relative;
    overflow:hidden;
    margin-bottom: 10px;
    text-align: center;
    background: #000000;
}
.playnow-home-link-new img {
    display: block;
    height: 145px;
    width:257px;
    /*width: 100%;*/
}
.icon-play-video {
    background: url(http://live84.keeng.net/playnow/images/static/web/icon_play.png) no-repeat center center;
    background-size: 56px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    position: absolute;
    width: 100px;
    height: 75px;
    display: none;
    z-index: 9999;
}

.playnow-home-h3-new {

    font-size: 15px;
    padding: 6px 6px 6px 10px;
    position: absolute;
    line-height: 18px;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    color: #ffffff;
    text-align: left;
    font-weight: 550!important;
}
.playnow-home-chanel-new {
    /*overflow: hidden;*/
    position: relative;
}
.info-video .playnow-chanel-link-new {
    float: left;
}
.playnow-chanel-link-new {
    float: right;
}
.playnow-chanel-link-new img {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.play-chanel-info-new .play-chanel-view-new {
    margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:right;
}
.play-chanel-view-new {
    color: #6a6a6a;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top:3px;
}
.play-chanel-view-new:hover {
    color: #997dff;
}
.info-video .play-channel-h3-new {
    font-size: 17px;
    float: left;
    margin-right: 10px;
    padding-left: 15px;
    margin-top: 10px;
}
.play-channel-h3-new {
    font-size: 14px;
    float: right;
    margin-right: 10px;
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align:right;
    line-height:1.2;
    font-weight: bold;
}

.play-channel-h3-new a:hover {
    color:#6450cf;
}
.ats-info-lnk:hover {color:#5e48cd;}
.sp-chanel-follow:hover {color:#9686d5;}
.header-mocha-right{float: right;position:relative;}
.hmr-phone{float: right;margin-top: 20px;margin-right: 15px;}
.hmr-phone img{}
.wrap-playnow-home{overflow:hidden;width:1200px;}

.sp-chanel-name {

    font-size: 15px;
    font-weight: bold;
    color: #454545;
    display: block;
    padding-top:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.sp-chanel-follow {
    color: #a8a7a7;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
}
.cate-hot-item.swiper-slide:hover .sp-chanel-follow{color:#9686d5;}
.cate-hot-item.swiper-slide:hover .sp-chanel-name{color:#6450cf;}
.cate-hot-item.swiper-slide:hover .ats-img{
    /*opacity: 0.3 !important;*/
    transform: scale(1.2);
}
.mocha-video-phim{background:#2c2c2c;padding:30px 0px;width:1150px;margin:18px auto auto auto;border-radius:5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}
.mocha-video-phim .phim-keeng-h3 a{color:#ffffff;}
.mocha-video-phim .phim-keeng-h3 a:hover{color:#5e48cd;}
.mocha-video-phim .av-top-small{width: 272px;padding: 0px 25px;}
.mocha-video-phim .owl_slider_av{padding:0px 0px;}
.mocha-video-phim  .owl-slider-next{top:140px;}
.mocha-video-phim  .owl-slider-back{top:140px;}
.mocha-video-tab{text-align:center;margin-bottom: 20px;}
.mocha-video-tab a {
    color:#454545 ;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
    padding: 0px 25px;
}
.mocha-video-tab a.active {
    color:#5e48cd !important;
}
.mocha-video-tab a:hover{color:#5e48cd !important;cursor:pointer;}
.icon-play-video{background:url(http://live84.keeng.net/playnow/images/static/web/icon_play.png) no-repeat center center;transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    position:absolute;width:100px;height:75px;display:none;}
.icon-play-video:hover{background:url(http://live84.keeng.net/playnow/images/static/web/icon_play_a.png) no-repeat center center;}
.bht-item .icon-play-video,.playnow-home-link-new .icon-play-video,.cvs-lnk-img  .icon-play-video{background-size:56px;}
.bht-item-big .icon-play-video{background-size:auto;}
#Content_ctl00_pnVideoListNhac .box-video-list{margin-top:0px}
.bht-item-big:hover .icon-play-video,.bht-item:hover .icon-play-video,.playnow-home-link-new:hover .icon-play-video,.cvs-lnk-img:hover  .icon-play-video{display:block;}
.playnow-home-item-new:hover .animated {  -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
.animated{transition: all 1s;
    -webkit-transition: all 1s;}
.playnow-home-item-new:hover .play-chanel-view-new {color: #997dff;}
.playnow-home-item-new:hover .play-channel-h3-new a{color: #6450cf;}
.popup-create-chanel {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    /*height: 100%;*/
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.popup-create-content {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    box-sizing: border-box;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    -webkit-transform: translate(-50%, -50%);
}
.popup-create-h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
.popup-create-p {
    /*border-bottom: 1px solid #dcdcdc;*/
    font-size: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.popup-create-btn {
    font-weight: bold;
    text-align: right;
}
.pcb-cancel {
    color: #9e9e9e;
    display: inline-block;
    font-size: 15px;
}
.pcb-continue {
    color: #5e48ce;
    display: inline-block;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}
#button_search{cursor:pointer;}
.header-mocha-right a {cursor:pointer;}
.av-top-small.swiper-slide:hover .ats-img
{
    opacity: 0.3 !important;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition:all 1s;
    -webkit-transition: all 1s;
}
.av-top-small.swiper-slide:hover .ats-info-lnk{color:#5e48cd;}
.av-top-small.swiper-slide:hover .sp-chanel-follow{color:#9686d5;}
.av-top-small.swiper-slide:hover .sp-number-film{opacity:0.6;}

.av-top-small-dV.swiper-slide:hover .ats-img{
    opacity: 0.3 !important;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition:all 1s;
    -webkit-transition: all 1s;
}
.av-top-small-dV.swiper-slide:hover .ats-info-lnk{color:#5e48cd;}
.av-top-small-dV.swiper-slide:hover .sp-chanel-follow{color:#9686d5;}
.av-top-small-dV.swiper-slide:hover .sp-number-film{opacity:0.6;}
.av-top-small-dV.swiper-slide:hover .ats-lnk-img{background-color:rgba(9,7,13,.6);border-radius:10px}

.cvt-p{
    margin-bottom: 15px;
    color: #636466;
}

.bpl-noibat .swiper-slide {
    padding-right: 20px;
}

.chanel-btn-dk
{
    cursor: pointer;
    border: 1px solid #5e48ce;
    border-radius: 10px;
    color: #ffffff !important;
    font-size: 16px;
    height: 30px;
    line-height: 27px;
    position: absolute;
    text-align: center;
    width: 160px;
    background: #5e48ce;
    margin-left: 20px;
    margin-top: 5px;
}
.chanel-btn-followed{
    cursor: pointer;
    border: 1px solid #5e48ce;
    border-radius: 10px;
    color: #5e48cd;
    font-size: 16px;
    height: 30px;
    line-height: 27px;
    /*position: absolute;*/
    text-align: center;
    width: 141px;
    background: #ffffff;
    margin-left: 20px;
    margin-top: 5px;
}
.ms-like {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_03.png) no-repeat scroll left center;
}
.ms-share {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/iconShare_05.png) no-repeat scroll left center;
}
.ms-like.active {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_02a.png) no-repeat scroll left center;
    background-size: auto 20px;
    float: left;
    margin-right: 20px;
    padding-left: 27px;
    width: 58px;
    cursor: pointer;
}
.ms-comment {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_04.png) no-repeat scroll left center;
}
.info-video .ms-share {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/playnow_video_07.png) no-repeat scroll left center;
    padding-right: 58px;
}
.ms-view {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_06.png) no-repeat scroll left center;
}
.ms-save {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_07.png) no-repeat scroll left center;
    display:none;
}
.ms-save active{
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_07a.png) no-repeat scroll left center;
}
.ms-turnofflight {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/comment_08.png) no-repeat scroll left center;
}
.mocha-social a {
    bbackground-size: auto 20px;
    float: left;
    margin-right: 12px;
    padding-left: 28px;
    width: 48px;
    cursor: pointer;

}
.info-video .mocha-social a {
    background-size: auto 20px;
    float: left;
    margin-right: 28px;
    padding-left: 28px;
    width: 59px;
    cursor: pointer
}
.info-video .mocha-social .mocha-social-save a {
    background-size: auto 20px;
    float: left;
    margin-right: 14px;
    padding-left: 28px;
    width: 139px;
    cursor: pointer
}
.mocha-social span a {
    background-size: auto 20px;
    float: left;
    margin-right: 46px;
    padding-left: 28px;
    width: 108px;
    cursor: pointer
}
.mocha-social .mocha-social-fb a {
    background-size: auto 20px;
    float: left;
    margin-right: 22px;
    cursor: pointer
}
.chanel-btn-likefb{
    border: 1px solid #4267b2;
    border-radius: 12px;
    color: #ffffff;
    height: 23px;
    line-height: 23px;
    position: absolute;
    text-align: center;
    background: #4267b2;
    margin-left: 20px;
    margin-top: 5px;
    right: 153px;
}
.chanel-btn-sharefb{
    border: 1px solid #4267b2;
    border-radius: 12px;
    color: #ffffff;
    height: 23px;
    line-height: 23px;
    position: absolute;
    text-align: center;
    width: 82px !important;
    background: #4267b2;
    margin-left: 20px;
    margin-top: 5px;
    right: 20px;
}
.mocha-box-login-new {
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    position: relative;
    /* transform: translate(3%, 0%); */
    width: 1170px;
    margin: 0 auto;
    padding: 33px 40px 92px 40px;
}
.player-social {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 50px;
}
.player-social .mocha-social {
    font-size: 17px;
}
.player-social .mocha-social-fb {
    font-size: 13px;
}
.mocha-social-fb a {
    background-size: auto 20px;
    float: left;
    margin-right: 0px;
    /* padding-left: 27px; */
}
.playnow-auto {
    line-height: 29px;
    padding: 40px 0px 0px 0px;
    border-top: 1px solid #dcdcdc;
    color: #000000;

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
}
.playnow-auto-p {
    float: right;
    font-weight: normal;
    font-size: 16px;
}
.playnow-auto-lnk {
    /* background: rgba(0, 0, 0, 0) url(./images/ver4_17.png) no-repeat scroll left center; */
    display: inline-block;
    float: right;
    height: 29px;
    margin-left: 15px;
    width: 40px;
    cursor: pointer;
}
.playnow-listvideo-p{
    font-weight: bold;
}
.ul-list-episode {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.ul-list-episode .episode {
    float: left;
    margin: 0 1px 14px 1px;
}
.ul-list-episode .episode a:hover {
    color: #fefefe;
    text-shadow: 0 1px #ea8f99;
    background-color: #5e48cd;
    background-image: none;
}
.episode-detal {
    margin: 13px 12px 1px 0;
    line-height: 34px;
    padding: 0 14px;
    font-size: 15px;
    /* font-weight: bold; */
    color: #fefefe;
    border-width: 1px;
    border-style: solid;
    border-color: #cecece;
    border-radius: 8px;
    outline: none;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    background-color: #909090;
    width: 23px;
    text-align: center;
}
.episode-detal.active {
    color: #fefefe;
    text-shadow: 0 1px #ea8f99;
    background-color: #5e48cd;
    background-image: none;
}
.comment-mocha-video {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
    padding: 0 0;
    padding-top:50px;
}
.comment-mocha-video .cmv-h3
{
    color: #000000;
    font-weight: bold;
}
.cmv-h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}
.cmv-wrap {
    padding-left: 34px;
    padding-right: 200px;
}
.cmv-form {
    margin-bottom: 30px;
    position: relative;
}
.cmv-avatar {
    border-radius: 20px;
    height: 40px;
    left: 0;
    position: absolute;
    width: 40px;
    top:5px;
}
.cmv-avatar img {
    border-radius: 20px;
    width: 40px;
}
#txtComment {
    background-color: #f5f5f5;
    color: #555555;
    font-size: 14px;
    margin-top: 5px;
    padding: 0 10px;
    width: 94%;
    height: 32px;
    margin: 0 55px;
    outline: none;
    border: none;
    overflow: hidden;
    height: 60px;
    border-radius: 10px;
    padding: 10px 0 0 10px;
}

.input-cm-sub {
    background-color: #f5f5f5;
    color: #555555;
    font-size: 14px;
    margin-top: 5px;
    padding: 10PX 20px;
    width: 85%;
    /* border: 1px solid #555555; */
    border-radius: 10px;
    height: 30px;
    margin: 0 46px;
    outline: none;
    border: none;
    overflow: hidden;
    height: 39px;
}

.cmv-form-send {
    background:url(http://live84.keeng.net/playnow/images/static/web/coment_01.png) no-repeat center center;background-size:20px auto;
    height: 30px;
    position: absolute;
    right: -57px;
    top: 1px;
    width: 30px;
    cursor:pointer;
    top:-6px;
    border: unset;
}
.cmv-form-send.active {
    /*background:url(./images/coment_01a.png) no-repeat center center;background-size:20px auto;cursor:pointer;top:-6px;*/
}
.cmv-row {
    overflow: hidden;
    margin-bottom:8px;
    margin-top:30px;
}
.cmv-row-avatar {
    border-radius: 20px;
    float: left;
    height: 40px;
    width: 40px;
}
.cmv-row-avatar img {
    border-radius: 20px;
    width: 40px;
}
.cmv-row-sub .cmv-row-avatar img {
    border-radius: 20px;
    width: 23px;
    margin-top: 9px;
}
.cmv-row-sub .cmv-row-right {
    margin-left: 41px;
}
.cmv-row-right {
    margin-left: 57px;
}
.cmv-name-like {
    margin-bottom: 8px;
    overflow: hidden;
    margin-top: 0px;
}
.cmv-row-sub.cmv-name-like {
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 2px;
}
.cmv-name
{
    color: #77787a !important;
    background-color: #f5f5f5;
    float: left;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px 10px 0px;
    font-weight:normal;
}
.cmv-name b{color:#000000}
.cmv-time-answer .cmv-like.active {
    background:url(http://live84.keeng.net/playnow/images/static/web/comment_02a.png) no-repeat left center;background-size:20px auto;
}
.cmv-info {
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 3px;
}
.cmv-time-answer {
    color: #8f8f91;
    font-size: 11px;
}
.cmv-time-sp {
}
.cmv-answer-lnk {
    color: #8f8f91;
    cursor: pointer;
}
#content_video {
    /*position: relative;
    z-index: 102;*/
}
.cmv-row-sub:first-child {
    margin-top:16px;
}
.cmv-row-sub {
    overflow: hidden;
    margin-bottom:16px;
    margin-left: 57px;
}
.cmv-row-sub-avatar {
    border-radius: 20px;
    float: left;
    height: 40px;
    width: 40px;
}
.cmv-row-sub-avatar img {
    border-radius: 20px;
    width: 40px;
}
.cmv-row-sub-right {
    margin-left: 55px;
}
#persoff {
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
}
.lst-episode{
    display:inline-block;
    margin-bottom: 15px;
    height: 113px;
    overflow:hidden;
}
.p-more-episode {
    float: right; margin-right: 0px;
    cursor:pointer;
    text-decoration:underline;
    font-size:16px;
}
.video-js .vjs-load-progress{
    background: #c8b6f8!important;
}
.video-js .vjs-play-progress, .video-js .vjs-volume-level {
    background: #5e48ce !important;
}
.player-video{position:relative;}
.video-js.vjs-paused .bumpable-ima-ad-container, .video-js.vjs-playing:hover .bumpable-ima-ad-container, .video-js.vjs-user-active.vjs-playing .bumpable-ima-ad-container{margin-top:0px !important;}
.popup-notice{position:fixed;bottom:0px;left:0px;max-width:360px;width:100%;color:#ffffff;background:rgba(0,0,0,0.8);padding:10px 10px;box-sizing:border-box;z-index:999}
.popup-share-fb {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.wrap-popup-share {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    left: 50%;
    max-width: 360px;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.close-share {
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.close-share {
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-share-title {
    color: #5e48ce;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}
.popup-share-p {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.popup-share-p a {
    display: inline-block;
    margin-right: 10px;
}
.popup-share-p a img {
}
.popup-share-input {
    margin-bottom: 25px;
}
.popup-share-input input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #636363;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #5e48ce;
    font-size: 13px;
    font-style:italic;
    padding-bottom: 5px;
    width: 100%;
}
.popup-share-btn {
    text-align: center;
    cursor: pointer;
}
.popup-share-btn a {
    background: #3b5998 none repeat scroll 0 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    padding: 9px 25px;
}
.close-share {
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.mocha-video-box {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 1150px;
    margin: 18px auto 0px auto;
    padding: 30px 0px;
    background-color:#ffffff

}
/*quan ly video*/
.sp-info-user {
    background: #ffffff;
    width: 143px;
    border-radius: 5px;
    left: 0px;
    position: absolute;
    top: 33px;
    z-index: 999;
    padding: 10px 0px;
    display: none;
}
/*box info user*/
.sp-info-user a {
    display: block;
    padding: 5px 10px;
    color: #565656!important;
    line-height: normal;
    text-align: left;
}
.phim-keeng-login:hover .sp-info-user{display:block;}
#vid_pause {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/vid_Pause.png) no-repeat scroll left center;
    top: 37px;
    cursor: pointer;
    position: absolute;
    left: 47%;
    height: 89%;
    right: 0px;
    display:none;
}
#vid_pause:hover{
    display:block !important;
}
.owl-carousel-banner{}
.owl-thumbs {bottom:-110px}
.owl-thumb-item img{width:217px;}
.owl-thumb-item {margin:0px 12px;padding:0px;outline:none;}
.owl-thumb-item.active img {
    border:3px solid #ffffff;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.28);
}
#cm-reply {
    display:none;
}
.cmv-form.reply{
    margin-left:53px;
    width:800px;
}
.cmv-form.reply .cmv-avatar img {
    width:30px;
}
.cmv-form.reply{display:none;}

.cmv-time-answer .cmv-like{float:none;background: url(http://live84.keeng.net/playnow/images/static/web/comment_02.png) no-repeat left center;padding-right:0px;padding-left:27px;display:inline-block;    background-size: 20px auto;margin-right:15px;}
.cm-sub-loadmore {
    margin-left:59px;
    font-weight:bold;
    cursor:pointer;
    background-color:#f5f5f5;
    color:#9c9c9e !important;
}

/*!*.suggestion {background-color: #fff;*/
/*    color: #555;*/
/*    display: block;*/
/*    font-size: 12px;*/
/*    left: 254px;*/
/*    line-height: 16px;*/
/*    position: absolute;*/
/*    top: 55px;*/
/*    width: 635px;*/
/*    z-index: 99999;*/
/*}*/
.suggestion ul.sug-ul {
    overflow: hidden;
    width: 100%;
}
.suggestion ul.sug-ul li {
    border-top: 1px solid #fff;
}
.suggestion ul.sug-ul li:first-child{border:0px;}
.suggestion ul.sug-ul li a {
    clear: both;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    padding: 8px;
}
#suggestions ul.sug-ul li a img {
    float: left;
    margin-right: 5px;
}

.skipplayer
{
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 5px;
    top: 35px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    z-index: 99999;
    display: none ;
    color: #ffffff;
}
.vjs-ad-playing ._skipplayer{display:block}
.social-fb{
    float: right;
    /*margin-top: 53px;*/
    width:115px;
}
.p-more-video {
    background: url(http://live84.keeng.net/playnow/images/static/web/icon_xemtatca.png) no-repeat right center;
    padding-right: 16px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 17px;
    color: #454545;
}
.p-more-video:hover {
    color: #5e48cd!important;
    background: url(http://live84.keeng.net/playnow/images/static/web/icon_xemtatca_a.png) no-repeat right center;
}
.slider-video-next{    cursor: pointer;
    position: absolute;
    right: 94px;
    top: 55px;
    z-index: 9;}
.slider-video-prev {
    cursor: pointer;
    position: absolute;
    left: -22px;
    top: 55px;
    z-index: 9;
}
.cg-old{margin-top: 124px;}
.wrap-body-login{padding-top:0px;margin-top:0px;}
.login-old{margin-top:60px}
.search-old{padding-top:117px}
.home-old{padding-top:124px;}
.cmv-like{cursor:pointer;}
.qlv-sp-right img{top:0px;}

.placeholderHome::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
}

.placeholderHome:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
}

.placeholderHome::-ms-input-placeholder { /* Microsoft Edge */
    color: #dcdcdc;
}

.placeholderDetail::placeholder {
    color: #888888;
    opacity: 1; /* Firefox */
}

.placeholderDetail:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888888;
}

.placeholderDetail::-ms-input-placeholder { /* Microsoft Edge */
    color: #888888;
}

h1{margin:auto;}
.cn-box-left
{
    float:left;
    width:287px;
}
.cn-box-sub{background:#ffffff;border-radius:10px;box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);padding:15px;margin-bottom:20px;}
.cn-box-sub-title{font-size:20px;color:#5e48ce;margin-bottom:17px;}
.cn-box-sub-p{color:#9e9e9e;font-size:14px;margin-bottom:15px;line-height:15px;}
.cn-box-sub-p strong{color:#000000;font-weight:normal;}

.cn-box-right
{
    float:right;
}
.cn-box-sub-right
{
    width:815px;
    background:#ffffff;
    border-radius:10px;
    padding: 20px;
    box-shadow:0 2px 20px -1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.cn-box-sub-right-h3{
    color: #5e48ce;
    font-size: 20px;
    margin-bottom: 20px;
}
.wrap-body-cn
{
    width:1170px;
    position:relative;
    margin:auto;
}
.chanel-top {margin:auto;
    width: 1170px;}
/*.chanel-top {
    margin-top: 0px;
    box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom:30px;
    position:relative;
}
.chanel-top-img {
    display: block;
    width: 100%;
}
.chanel-top-info {
    position: absolute;
    bottom: 20PX;
    left: 30px;
    display: block;
}
.cti-info {
    margin-left: 264px;
    position: ABSOLUTE;
    bottom: 78PX;
    RIGHT: 30PX;
    LEFT: 0;
}*/
.cti-lnk-img-new img {
    border-radius: 96px;
    height: 170px;
    width: 170px;
}
.tab-channel {
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    margin: auto;
    width: 1170px;
    cursor: pointer;
}
.tab-channel a {
    display: inline-block;
    margin-right: 40px;
    padding: 0 10px 16px;
}
.tab-channel a.active {
    border-bottom: 1px solid #5e48ce;
    color: #5e48ce;
    display: inline-block;
    font-weight: bold;
    margin-bottom: -1px;
}

#id_sp-doanhthu-right {
    width:110px;
}

.mocha-video-hot.mocha-video-other.mocha-video-box .wrap-bpk {
    padding-bottom:40px;
}

.slide_header .slick-slider .slick-list:before {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,#fff 0,hsla(0,0%,100%,.4) 15%,rgba(28,28,28,.1) 50%);
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 4px;
    z-index: 2;
}
.box-div{
    padding-top: 55px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px -1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);*/
    box-shadow: 0 4px -1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#ffffff}
.box-phim-keeng.mocha-video-box{margin-top:30px;}
.body-detail {
    margin:0px  auto;
    width: 1170px;
    padding-top: 80px;
}
.body-login {
    height: 100vh!important;
}
.owl-carousel .owl-item, .owl-carousel .item{height:100%;}
#txtComment {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
    padding: 10px 20px;
}
.line-more
{   width: 100%;
    border-top: 1px solid #dcdcdc;
    margin-top: 37px;
    padding-top: 22px;
}
.line-desc
{    width: 100%;
    /*border-bottom: 1px solid #dcdcdc;*/
    margin-bottom: 0px;
    padding-bottom: 24px;
}
.line-videoofcn
{    width: 100%;
    border-top: 1px solid #dcdcdc;
    margin-top: 0px;
    padding-top: 27px;
}
.line-cm
{     border-top: 1px solid #dcdcdc;
    padding-top: 27px;
    margin-top: -6px;
}
.Goupsfilm-related
{
    padding-bottom:30px;
}
.line-eps{    width: 100%;
    border-top: 1px solid #dcdcdc;
    margin-top: 37px;
    padding-top: 22px;}

.subSp{top:290px;}
#lstMainFilm .subSp{top:195px;}
.contetn-profile{width:100%}
/*SEARCH*/
.suggestion-2 {
    color:#b7b7b7;
    font-size:12px;
    line-height:50px;
    border-bottom:2px solid #e9e9e9;
    width:1100px;
    margin:0 auto;
    background-color: #fff;
    /*left: 238px;*/
    /*position: absolute;*/
    /*top:80px;*/
    z-index: 99999;
    border-radius:10px;
}

.suggestion {
    color:#b7b7b7;
    font-size:12px;
    line-height:16px;
    border-bottom:2px solid #e9e9e9;
    width:1100px;
    margin:0 auto;
    background-color: #fff;
    /*left: 238px;*/
    /*position: absolute;*/
    /*top:80px;*/
    z-index: 99999;
    border-radius:10px;
}
.container-suggestion {
    background-color:#fff;
    position:absolute;
    top:59px;
    left:0;
    right:0;
    z-index:99999
}
.sp-exclusive {
    color:#de075f;
    border:1px solid #de075f;
    background:#fff none repeat scroll 0 0;
    display:inline-block;
    line-height:15px;
    bottom:3px
}
.suggestion ul.sug-ul {
    overflow: hidden;
    width: 32%;
    display: inline-block;
    text-align: left;
    line-height: 12px;
    height: 360px;
    margin-top: 20px;
    padding-left:20px;
}

ul.sug-ul-song li.sug-title a::before {
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/channel.png");
    float:left
}
.song-hot-down {
    display:none !important
}
ul.sug-ul-video li.sug-title a::before {
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/video.png");
    /*float:left*/
}
ul.sug-ul-album li.sug-title a::before {
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/filmgrp.png");
    /*float:left*/
}
ul.sug-ul-singer li.sug-title a::before {
    /*content:url("./images/suggestions/singer.png");*/
    /*float:left*/
}
ul.sug-ul li.sug-title a p {
    position:relative;
    top:4px
}
.sug-title b{font-size:16px;}
.sug-ul.sug-ul-album{border-right:none !important;}
.wrap_menu {
    background:#f5f5f5 none repeat scroll 0 0;
    display:none;
    overflow-y:auto;
    padding-bottom:5px;
    position:absolute;
    right:0;
    width:260px;
    z-index:9999
}
.suggestion ul.sug-ul li {
    border-top: 1px solid #fff;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.suggestion ul.sug-ul li a {
    color: #565656;
    cursor: pointer;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    width: 100%;
}
.suggestion ul.sug-ul li a span.icon-sug {
    background-size: 15px auto !important;
    float: left;
    height: 40px;
    position: absolute;
    top: 0;
    width: 40px !important;
}
.suggestion ul.sug-ul li a p {
    display: inline-block;
    padding: 0 10px 0 10px;
    /*width: 80%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
    margin-bottom: 3px;
}
.suggestion ul.sug-ul li a {
    color: #565656;
    cursor: pointer;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    width: 100%;
}
.suggestion ul.sug-ul li a img {
    float: left;
    height:48px;
    width:85px;
}
.suggestion ul.sug-ul li.sug-audio a img {
    height:48px;
    width:48px;
    border-radius:50px;
}
.suggestion ul.sug-ul li.sug-album a img {
    height:48px;
    width:32px;
    border-radius: 4px;
}
.sug-ul.sug-ul-video .sug-video:hover p{color:#5e48cd;}
.sug-ul.sug-ul-song .sug-audio:hover p{color:#5e48cd;}
.sug-ul.sug-ul-album .sug-album:hover p{color:#5e48cd;}

.box-search{margin-top:0px;padding-top:85px;padding-bottom:100px;}
.sug-audio img{border-radius:20px;}
.box-search .mocha-video-box{margin-top:0px;}
.search-h3 {
    font-weight: 600;
    font-size: 27px;
    text-align: left;
    margin-bottom: 25px;
}
.search-h3 a::before
{
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/channel.png");
}
.search-h3-phim a::before
{
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/filmgrp.png");
}
.search-h3-video a:before
{
    content:url("http://live84.keeng.net/playnow/images/static/web/suggestions/video.png");
}
.search-h3 span
{
    padding-left:10px;
    font-size:20px;
}
.box-search .cate-hot-item img {
    width: 90px;
    height: 90px;
}
.box-search .cate-hot-item {width:135px; margin-right:80px;}
.box-search .ats-lnk-img img{border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;}
.box-search .ats-lnk-img
{
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    height: 210px;
}
.box-search .av-top-small {
    padding-left: 0;
    padding: 0px 6px;
    width: 145px !important;
    float: left;
    margin-bottom: 15px;
    margin-right:70px;
}
.box-search .ats-info-h3 a {
    font-size: 15px;
    font-weight: bold;
    color: #454545;
    display: block;

}
.box-search .playnow-home-chanel-new {
    width:30%;
    display: inline-block;
}
.box-search .play-chanel-info-new .play-chanel-view-new {
    margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:right;
    padding-right:10px;
    padding-left:14px;
    font-size:14px;
}
.box-search .play-chanel-info-new .play-chanel-name {
    margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:right;
    padding-right:10px;
    font-weight:bold;
    padding-left:14px;
}
.box-search .cvs-info-h2{margin-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;}
.box-search-sub{padding: 20px 50px;}
.breadcrum-clip p{margin-left: -26px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 17px;}
.fim-span-view{color: #b1b1b1;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 0px; */
    padding: 0px 0px 0px 11px;
    display: inline-block;
    margin-top: 5px;
    width: 110px;
    font-size:11px;
    vertical-align: middle;
}
.fim-span-eps
{  color: #b1b1b1;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 48px; */
    background-color: #dcdcdc;
    border-radius: 4px;
    padding: 3px;
    font-size:11px;
}
.sug-ul.sug-ul-album .sug-album p
{
    display:block;
}
.sugges-viewall{margin: 15px 0 15px 0; text-align: center;cursor:pointer;font-size:15px;}
/*.box-search .wrap-bpk .owl-slider-back{top:84px;}*/
/*.box-search .wrap-bpk .owl-slider-next{top:84px;}*/
.box-search .cate-hot-wrap .owl-slider-back{top:15px;}
.box-search .cate-hot-wrap .owl-slider-next {
    top:15px !important;
    right:13px !important;
}
.div-sug {
    overflow: hidden;
}

.div-sug span, .sug-audio span, .sug-album span {
    font-weight: bold;
}

.sug-video-span{
    color: #b1b1b1;
    position: relative;
    float: left;
    left: 10px;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 17px;
    font-size: 11px;
    margin-top: -1px;
}

.sug-ul-border {
    border-right: 1px solid #dcdcdc;
}

.box-search .cvs-info-h2 {
    font-size:15px;
}

.box-search .cvs-lnk-img {
    margin-right: 48px;
}

.search-phim-border {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;
    /*padding-right: 40px;*/
}

.search-phim-border .swiper-wrapper {
    transform: translate3d(0,0,0) !important;
}

.search-phim-border .owl-slider-next, .search-phim-border .owl-slider-back  {
    top: 25%;
}

.box-search .box-list-video .chanel-video-small:hover .cvs-info-h2 a {
    color:#5e48cd
}

.box-search .play-chanel-view-new {
    margin-bottom:0px
}

.cate-hot-item.swiper-slide {
    cursor:pointer;
}

/*CATEGORY NEW*/
.body-phim-center {
    overflow:hidden;
    width:980px;
    margin:auto;
    padding-bottom:100px;
}

.body-phim-left {
    width:325px;
    float:left;
    margin-right: 20px;
}

.bpl-noibat {
    background:#2c2c2c;
    overflow:hidden;
    border-radius:10px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-bottom:22px;
}

.bp-noibat-h3 {
    color:#ffffff;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.bpl-noibat .av-top-small{margin-left: 90px;width: 177px;margin-bottom: 15px;}
.bpl-noibat .ats-lnk-img img {
    height:235px;
    width: auto;
}
.bpl-trailer{background: #ffffff;overflow: hidden;padding: 20px 0px;border-radius: 10px;margin-bottom: 22px;}
.bpl-trailer .av-top-small{margin-left: 33px;}
.bpl-trailer .playnow-home-item-new{}

.bpl-trailer-h3 {
    margin-left:15px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align:center;
    font-size:20px;
    text-align:center;
    font-weight: bold;
}

.bpl-trailer-h3 a {float: right;margin-right: 35px;}
.body-phim-right{width:635px;float:left;}
.bpr-new {
    background:#2c2c2c;
    border-radius:10px;
    padding: 25px 25px 32px 25px;
}
.bpr-new-h3 {
    color:#ffffff;
    margin-bottom: 15px;
    margin-left: 17px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.bpr-new-wrap {
    overflow:hidden;
}

.bpr-new-wrap .av-top-small {
    width: 177px;
    margin-bottom: 15px;
    margin-left: 18px;
}

#lstMainFilm .bpr-new-wrap .av-top-small {
    width: 175px;
    height:317px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-right: 20px;
}

#lstSubPhim .bpr-new-wrap .av-top-small {
    width: 177px;
    height: 317px;
    margin-bottom: 15px;
    padding-right: 20px;
    margin-left: 18px;
    margin-right: 0;
}

.bpr-new-wrap .ats-lnk-img img {
    height:235px;
    width:100%;
}

.chanel-top2 {
    background:#ffffff;
    position:relative;
    padding-bottom:36px;
    margin-bottom:30px;
    border-radius:5px
}

.chanel-top2.cti-lnk-img {

}

.chanel-top2 .chanel-top-info {
    position: absolute;
    /* left: 50%; */
    /* margin-left: -65px; */
    bottom: 70px;
    z-index: 1;
    text-align: center;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    overflow: initial;
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.subSpCate {
    top:195px;
}

.bpl-trailer-box {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 18px auto 0px auto;
    padding: 30px 0px;
    background-color: #ffffff;
}

.bpl-trailer-h3 a{
    /*text-decoration:underline;*/
}
.box-shadow-cm{-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);}
.sp-number-film.subSp-filmHot{top: 195px;}
.cate-img img{border-radius: 86px;height: 150px;width: 150px;}
.bpr-new-wrap-cate .av-top-small {
    width: 258px;
    margin-bottom: 0px;
    margin-left: 19px;}
.bpr-new-wrap-cate{padding-top:45px;}
.bpr-new-cate{background-color:#ffffff; border-radius:10px;padding: 20px;}
.bpl-trailer .cate-hot-item{margin-left: 87px;padding-bottom:80px;}
.bpr-new-h3-cate{
    margin-bottom: 15px;
    margin-left: 17px;
    text-align:center;
    font-size:20px;
    font-weight: bold;
}
.h3-new-dv {
    width:auto;
}

.cn-catenew {
    width: 70px;
    font-size: 14px;
    height: 22px;
    line-height: 21px;
    margin-left: -35px;
}

.cn-catenew-followed {
    width: 88px;
    margin-left: -40px;
    padding: 0px 5px;
    position: absolute;
}

.cn-catenew-followed:hover{
  color: #5e48ce;
}

.tab-cn-videohot a {
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    padding: 0px 28px 0px 25px;
}
.img-catenew {
    float:none;
    font-size: 25px;
    color: #ffffff !important;
    display: inline-block;
    position: relative;
    bottom: -58px;
}
.img-catenew img {
    border-radius: 82px;
    height: 150px;
    width: 150px;
    margin-right:10px
}
.chanel-top-img {
    height:389px;
    display: block;
    margin-bottom: 35px;
    width: 100%;
}
.cate-videoAll {
    width: 1131px;
    margin: auto;
    padding-top:21px;
    padding-left:21px;
    border-radius:10px;
    background-color:#ffffff
}

.cate-videoAll .playnow-home-item-new-tabVideoCn {
    margin-bottom: 30px;
}

#lstMain .bpr-new-cate {
    padding-bottom:45px;
}

.lstMore {
    padding-top:124px;
}

.box-shadow-cate {
    -webkit-box-shadow: 4px 3px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 3px 10px 1px rgba(0,0,0,0.1);
}

.morevideophim {
    color:#ffffff;
    background: url(http://live84.keeng.net/playnow/images/static/web/icon_xemtatca_b.png) no-repeat right center;
}

#lstSubPhim .body-phim-center {
    width: 1025px;
}

#lstSubPhim .body-phim-right {
    width:100%;
}

#lstMain .bpr-new {
    padding-bottom:45px;
}

#phim1_All {
    font-size:18px;
    margin-left:20px;
}

#phim1_All:hover {
   /*text-decoration: underline;*/
    color: #4e4e4e;
}

#phim2_All{font-size:18px;margin-left:55px;}
.bpr-video-wrap-tabVideoCn {
    width: 1110px;
    overflow: hidden;
    margin: auto;
    margin-right: 0px;
}

.bpr-video-h3 {
    margin-bottom:15px;
    text-align:center;
    font-size:20px;
    font-weight: bold;
    padding-right: 21px;
}
/*CHANNEL NEW*/
.my-chanel{}

.my-chanel .chanel-top-info {
    box-sizing: border-box;
    padding-left: 95px;
}

.my-chanel .cti-lnk-img {
    float:left;
}

.my-chanel .cti-lnk-img img {

}

.my-chanel-info {
    margin-left: 189px;
    text-align: left;
    margin-top: 72px;
    color: #ffffff;
}

.my-chanel-h3{
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    margin-bottom: 0;

}
.my-chanel-p {
    font-size: 18px;
    margin-bottom: 0;
}
.my-chanel-follow{position: absolute;right: 30px;top: 75px;background: #5e48ce;color: #ffffff;font-size: 18px;height: 45px;line-height: 45px;border-radius: 20px;padding: 0px 20px;cursor:pointer;font-weight:bold}
.my-chanel-follow.active{color: #5e48cd;background: #ffffff;border: 1px solid #5e48ce;font-weight:bold}
.my-chanel-menu{position: absolute;bottom: 0px;left: 255px;}
.my-chanel-menu a {
    display: inline-block;
    margin: 0px 30px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 19px;
    font-size: 18px;
}
.my-chanel-menu a:hover{border-bottom: 3px solid #5e48ce;color:#5e48cd;cursor:pointer}
.my-chanel-menu a.active{color:#5e48cd;border-bottom: 3px solid #5e48ce}
.wrap-bpk-chanel{background: #ffffff;width: 100%;box-sizing: border-box;padding: 20px;margin-bottom:15px;border-radius:10px;}
.bpk-chanel-header{position: relative;}
.chanel-header-h3{font-size: 18px;}
.chanel-header-h3 span{color: #ffffff;background: #5e48cd;font-size: 13px;display: inline-block;padding: 5px 10px;border-radius: 26px;position: relative;top: -2px;margin-left: 10px;}
.chanel-header-p{}
.chanel-header-p{color: #929191;}
.channel-lnk-all{font-size: 18px;font-weight: bold;position: absolute;right: 10px;top: 2px;cursor:pointer;}
.channel-lnk-all:hover{color:#5e48cd}
.sp-slider-img{left: 0px;width: 177px;/*! float: left; */display: inline-block;}
.sp-slider-img img{width: 100%;}
.wrap-bpk-chanel .owl_slider_av{/*! padding-left: 177px; */border-bottom: 20px solid #5e48ce;border-radius: 0px 0px 10px 10px;}
.wrap-bpk-chanel .owl-slider-av{position: absolute;bottom: 0px;left: 177px;width:761px;margin: 0}
.wrap-bpk-chanel .playnow-home-item-new{margin-bottom:0px;}
.wrap-bpk-chanel .playnow-home-link-new{margin-bottom:0px;}
.wrap-bpk-chanel .av-top-small{width:235px;padding-right:0px;margin-right:15px;}
.wrap-bpk-chanel .av-top-small .playnow-home-link-new img{width:235px;height:132px;}
.wrap-bpk-chanel .owl-slider-next{bottom: 31px;top: auto;right: -20px;}
.wrap-bpk-chanel .owl-slider-back{left: 145px;top: auto;bottom: 31px;}
.bpk-chanel-header {position: relative;margin-bottom: 20px;}
.bpl-info {
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 22px;
}
.bpl-info-h3{margin-bottom: 20px;}
.bpl-info-row{overflow: hidden;margin-bottom: 20px;}
.info-row-left{float: left;}
.info-row-left img{}
.info-row-right{font-size: 15px;color: #6a6a6a;margin-left: 35px;line-height: 20px;}
.info-row-right span{color: #000000;}
.bpl-trailer-tab{text-align:center;margin-bottom: 20px;}
.bpl-trailer-tab a{display: inline-block;padding:0px 25px;font-size: 17px;font-weight: bold;}
.bpl-trailer-tab a:hover,.bpl-trailer-tab a.active{color:#5e48ce;cursor:pointer;}
.bpl-video .play-chanel-view-new{margin-right:0px;}

.bpr-video {
    background: #ffffff;
    overflow: hidden;
    padding: 20px 20px 0px 40px;
    border-radius: 10px;
    margin-bottom: 22px;
}

.bpr-video-wrap {
    width: 100%;
    overflow: hidden;
}
.bpr-video .av-top-small {
    margin-right: 19px;
    padding-right: 0px;
}

.bpr-video  .play-chanel-view-new {
    margin-right:0px;
}

.body-phim-center-tabVideoCn {
    width: 1131px;
    margin: auto;
}

.body-phim-right-tabVideoCn {
    width: 100%;
}

.bpr-video-tabVideoCn {
    background: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    padding:21px;
    margin: 0 auto;
    width: 1131px;
}
.bpr-video-tabVideoCn .av-top-small {
    margin-right: 15px;
    padding-right: 0px;
}

.playnow-home-item-new-tabVideoCn {
    margin-bottom:0px;
}

.allVideo .playnow-home-item-new-tabVideoCn {
    margin-bottom:30px
}
.sp-number-filmGrp {
    color: #ffffff;
    font-size: 14px;
    right: 15px;
    border-radius: 15px;
    text-align: center;
    background: #909090 none repeat scroll 0 0;
    border-radius: 9px;
    color: #ffffff;
    padding: 5px 10px;
    position: absolute;
    right: 16px;
    top: 10px;
}

.bpr-video .cate-hot-item {
    width: 185px;
    padding-bottom: 40px;
}

.tabphim .cate-hot-wrap {
    padding-bottom: 30px;
}

#lstSub .owl-slider-back {
    top:27px;
}

#lstSub .owl-slider-next {
    top:27px;
    right:-15px;
}

#lstSubVideoNew .play-chanel-info-new .play-chanel-view-new{margin-right:0px;}
#lstSub #pnVideoListFilms .owl-slider-next{top:173px;}
#lstSub #pnVideoListFilms .owl-slider-back{top:173px;}
.owl-slider-next{cursor:pointer;}
.owl-slider-back{cursor:pointer;}
.cate-img-tab-phim img{width: 177px;height: 266px;border-top-left-radius:10px;border-top-right-radius:10px;}
.cate-hot-item-tabinfo{margin-bottom:50px;}
.cate-hot-item-tabinfo .chanel-btn-dk{margin-top:15px;}
.cate-hot-item-tabinfo .chanel-btn-followed{margin-top:15px;}
.ofi{overflow:initial !important}
#lstSub .wrap-body-login{padding-top:0px !important;}
.pdbt-cn{padding-bottom:25px;}
#lstHome .bpl-info-h3 {
    text-align:center;
    font-size:20px;
    font-weight: bold;
}

.fontbold {font-weight:bold}
.my-chanel-menu a{font-weight:bold}
.cht-left-avatar img{border-radius:50%;}
#lstSub .wcb-right-p{color:#000 !important}
.wcb-right-title{text-align:center}
#lstSub .bpl-info-h3{text-align:center}
.cn-search-btn{
    background: url(http://live84.keeng.net/playnow/images/static/web/mychannel/icon_search.png) no-repeat center center;
    width:24px;
    height:22px;
}
.body-phim-center-tabSearchCn{width: 1070px;margin: auto;}
.body-phim-center-tabSearchCn .bpr-video-tabVideoCn{padding: 20px 0px 20px 40px;}
.body-phim-center-tabSearchCn .breadcrum-clip p {
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px!important;
}
.body-phim-right-tabSearchCn{width: 100%;}
.body-phim-right-tabSearchCn .play-chanel-info-new .play-chanel-view-new {
    text-align:left;
    margin-left:220px;
}
.my-chanel-search{display:inline-block;margin-left:30px}
#tabSearch{border:none;position:relative;top:3px;}
.cn-search-input{border:none;padding:3px 0px 3px 0px;}
.cn-search-input{
    display:block;
    content: '';
    border-bottom: solid 2px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.cn-search-input.active{
    transform: scaleX(1);
    color: #454545!important;
    margin-left: 5px;
}
#ipSearch{display:none;}
.my-chanel-search label{ -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 17px;
    right: 27px;
    background-color: #fff;
    color: #b3b3b3;
    font-weight: normal;
    cursor: text;
    pointer-events: none;}
.my-chanel-search label.hidden{display:none}
#lbSearch.underline {
    display:block;
    content: '';
    border-bottom: solid 1px;
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
}
.footer_gov{
    text-align:center;margin-top: 79px;float: left;margin-left: -120px;margin-right: -17px;
}
.rwt__tab  {
    background: inherit;
    border: none;
}

.rwt__tab :focus {
    outline: none;
}
p {
    /*margin-top: 0 !important;*/
    /*margin-bottom: 0 !important;*/
}
/*CHANNEL TAB THONG KE*/
.wrap-body-login {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 25px;
}
.persion-list {
    width: 332px;
    float: left;
    background: #ffffff;
    border-radius: 10px;
}
.menu-persion-wrap {
    padding: 0px 0px 0px;
    overflow: hidden;
}
.menu-persion-h3 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 0px 20px;
    margin-top: 20px;
}
#a_MyChannel {
    cursor: pointer;
}
.persion-list a.active {
    color: #5e48cd !important;
}
a {
    text-decoration: none;
    color: #454545;
    outline: 0;
}
.menu-persion-wrap ul {
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px;
}
.persion-list ul li {
    margin-bottom: 15px;
}
.persion-list ul li a {
    display: block;
    line-height: 37px;
    overflow: hidden;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.persion-list ul li a img {
    float: left;
    width: 30px;
    margin-right: 15px;
    margin-top: 3px;
}
.body-login-right {
    float: right;
    width: 815px;
    padding-bottom: 30px;
}
.chanel-home-top {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.cht-left {
    overflow: hidden;
}
.cht-left-avatar {
    float: left;
    width: 70px;
}
.cht-left-avatar img {
    width: 70px;
    height: 70px;
}
.cht-left-info {

    margin-left: 85px;
}
.cht-left-h3 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}
.chanel-edit a {
    background: #5e48ce;
    color: #ffffff !important;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.cht-right {
    position: absolute;
    right: 0px;
    top: 35px;
}

.menu-persion-wrap .rwt__tab {
    font-weight: bold;
}

.cht-right span {
    float: left;
    width: 120px;
    text-align: center;
    font-size: 16px;
    color: #9e9e9e;
}
.cht-right strong {
    color: #6a6a6a;
}
.wcb-left {
    width: 502px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}
.wcb-left-h3 {
    color: #5e48ce;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.body-login-right .chanel-video-small:nth-child(2) {
    margin-top: 15px;
}
.body-login-right .chanel-video-small {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
}
.cvs-lnk-img {
    float: left;
    width: 205px;
    height: 115px;
    overflow: hidden;
    position: relative;
}
.chanel-video-small .cvs-lnk-img img {
    cursor: pointer;
}
.cvs-lnk-img img {
    display: block;
    width: 100%;
}
.cvs-info {
    height: 20px;
    line-height: 20px;
    margin-left: 220px;
    position: relative;
}
.cvs-info-search {
    height: 20px;
    line-height: 20px;
    position: relative;
}
.wrap-chanel-bottom .chanel-video-small .cvs-info .cvs-info-h2 {
    margin-bottom: 10px;
}
.chanel-video-small .cvs-info .cvs-info-h2 {
    margin-bottom: 5px;
    max-height: 60px;
}
.cvs-info-h2 {
    font-size: 16px;
    margin-bottom: 5px;
    max-height: 60px;
    font-weight: bold;
    overflow: hidden;
}
.wcb-left .cvs-info-h2 a {
    cursor: pointer;
}
.cvs-info .mocha-social {
    margin-bottom: 10px;
}
.mocha-social {
    overflow: hidden;
}
.wrap-chanel-bottom .mocha-social a {
    height: 20px;
    line-height: 20px;
}
.mocha-social a {
    background-size: auto 20px;
    float: left;
    margin-right: 25px;
    padding-left: 25px;
    width: 30px;
}
.cvs-info .chanel-edit a {
    float: left;
    margin-right: 15px;
}
.chanel-edit a {
    background: #5e48ce;
    color: #ffffff;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.wcb-right {
    float: right;
    width: 287px;
}
.wcb-right-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.wcb-right-title {
    font-size: 20px;
    color: #5e48ce;
    margin-bottom: 17px;
    font-weight: bold;
}
.wcb-right-p {
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 15px;
}
.chanel-edit a {
    background: #5e48ce;
    color: #ffffff;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.blr-wrap {
    background: #ffffff;
    padding: 0px 20px 20px;
    border-radius: 10px;
}
.blr-wrap-h2 {
    color: #5e48ce;
    font-size: 20px;
    border-bottom: 1px solid #e1e1e1;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
}
.blr-img-h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.blr-timeline {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}
.blr-timeline img {
    display: block;
    width: 100%;
    max-height: 245px;
}
.timeline-edit {
    background: url(http://live84.keeng.net/playnow/images/static/web/edit_timeline.png) no-repeat;
    height: 38px;
    width: 38px;
    height: 265px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.blr-form-left {
    width: 175px;
    float: left;
}
.bfl-h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.bfl-p {
    position: relative;
    cursor: pointer;
}
.bfl-p img {
    width: 100%;
    height: 175px;
}
.avatar-edit {
    background: url(http://live84.keeng.net/playnow/images/static/web/edit_timeline.png) no-repeat;
    height: 38px;
    width: 38px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.blr-form-right {
    margin-left: 20px;
    margin-left: 205px;
}
.bfr-p-input {
    margin-bottom: 12px;
}
.bfr-p-input input {
    background: #ebebeb;
    height: 37px;
    border-radius: 5px;
    border: 0px;
    width: 400px;
    padding: 0px 10px;
}
.bfr-p-input textarea {
    background: #ebebeb;
    height: 76px;
    border-radius: 5px;
    border: 0px;
    width: 400px;
    padding: 10px;
    font-family: roboto;
}
.bfr-p-btn {
    margin-top: 20px;
}
.bfr-p-btn a {
    background: #a9a9a9;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    width: 126px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    cursor: pointer;
}
.bfr-p-btn a.active {
    background: #5e48ce;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    width: 126px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    cursor: pointer;
}
.tn-pagging a {
    color: #34495E;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 3px 8px;
}
.tn-pagging {
    float: left;
    font-size: 13px;
    margin-top: 15px;
    overflow: hidden;
    text-align: right;
    width: 100%;
    padding-bottom:25px;
    text-align:center;
}
.tn-pagging a.active {
    background-color: #5e48ce;
    color: #FFFFFF;
}
.cvs-info .chanel-edit a {
    float: left;
    margin-right: 15px;
}
.chanel-video-small a.delete-video {
    background: #9e9e9e !important;
    width: 35px;
    /* border-radius: 4px; */
    float: left;
    display: none;
}
.chanel-edit a {
    background: #5e48ce;
    color: #ffffff;
    display: inline-block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}
.chanel-video-small .delete-video:hover {
    background: #ff0000 !important;
}
.chanel-video-small {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.chanel-video-small:hover a.delete-video{display:block;}
.wc-tab-user {
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
}
.wc-tab-doanhthu {
    overflow: hidden;
    padding: 10px 0px 0px;
}
.wc-tab-search {
    overflow: hidden;
    padding: 10px 0px 0px;
}
.wc-tab-table {
    margin-top: 5px;
}
.tab-user-left {
    float: left;
    width: 50%;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding: 20px 0px;
}
.tab-user-right {
    float: left;
    width: 50%;
    padding: 20px 0px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 12px;
}
.tab-user-left img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 10px;
}
.tab-user-info {
    margin-left: 62px;
    margin-top: 8px;
}
.tab-user-info h3 {
    font-size: 14px;
    margin-bottom: 3px;
}
.tab-user-info p {
    color: #6a6a6a;
    font-size: 14px;
}
.user-p-doanhthu span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    display: inline-block;
}
.sp-doanhthu-left {
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    float: left;
}
#id_sp-doanhthu-right {
    width: 110px;
}
.sp-doanhthu-right {
    float: right;
    background: #7663d5;
    width: 90px;
    height: 30px;
    border-radius: 25px;
    padding: 0px 10px;
}
.sp-doanhthu-right select {
    background: #7663d5;
    color: #ffffff;
    border: 0px;
    width: 100%;
    margin-top: 6px;
    cursor: pointer;
}
.tab-search-h3 {
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}
.tab-search-p {
    background: #7663d5;
    float: right;
    width: 290px;
    border-radius: 23px;
    padding: 0px 10px;
    position: relative;
}
.search-txt:placeholder-shown {
    color: #fff;
}
.tab-search-p input {
    background: transparent;
    border: 0px;
    height: 30px;
    color: #ffffff;
    width: 90%;
}

.search-txt {
}
.tab-search-p a {
    height: 30px;
    width: 30px;
    right: 0px;
    position: absolute;
    top: 0px;
    background: url(http://live84.keeng.net/playnow/images/static/web/icon_search.png) no-repeat center center;
    cursor: pointer;
}
.wc-tab-table table {
    width: 100%;
    font-size: 14px;
}
.wc-tab-table td, th {
    text-align: left;
    padding: 10px 10px 10px 0px;
}
.wc-tab-table td a {
    color: #5e48ce;
}
.menu-persion-title {
    color: rgb(94, 72, 206);
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 0px 20px;
    font-weight: bold;
    margin-top: 0px;
    text-transform: uppercase;
}
.qlv-title {
    font-size: 16px;
    font-weight: bold;
    MARGIN-BOTTOM: 15px;
    margin-top: 15px;
}
.qlv-info {
    overflow: hidden;
    margin-bottom: 15px;
}
.qlv-info-left {
    width: 400px;
    float: left;
}
.qlv-info-right {
    margin-left: 425px;
}
.qlv-info-h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.qlv-info-p {
    overflow: hidden;
    margin-bottom: 10px;
}
.qlv-sp-left {
    font-size: 16px;
    width: 152px;
    float: left;
    color: #454545;
}
.qlv-sp-right {
    color: #9e9e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.qlv-sp-right img {
    height: 16px;
    position: relative;
    top: 0px;
    margin-left: 5px;
}
.qlv-sp-right a {
    color: #5e48cd
}
h3.wc-edit-h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.17rem;
}
.blr-form {
    overflow: hidden;
}
.blr-form-video .blr-form-left {
    width: 200px;
}
.blr-form-video .bfl-p img {
    height: 112px;
}
.bfl-p img {
    width: 100%;
    height: 175px;
}
.blr-form-video .mc-form-right {
    margin-left: 220px;
}
.bfr-p-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bfr-p-input {
    margin-bottom: 12px;
}
.bfr-p-input input {
    background: #ebebeb;
    height: 37px;
    border-radius: 5px;
    border: 0px;
    width: 400px;
    padding: 0px 10px;
}
bfr-p-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bfr-p-input textarea {
    background: #ebebeb;
    height: 76px;
    border-radius: 5px;
    border: 0px;
    width: 400px;
    padding: 10px;
    font-family: roboto;
}
.bfr-p-btn {
    margin-top: 20px;
}
.bfr-p-btn a {
    background: #a9a9a9;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    width: 126px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    cursor: pointer;
}
.bfr-p-btn a.active {
    background: #5e48ce;
    text-align: center;
    color: #ffffff !important;
    display: inline-block;
    border-radius: 5px;
    width: 126px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
    cursor: pointer;
}
.react-tabs__tab-list{
    border-bottom: none !important;
    margin: 0 0 0 !important;
}
.react-tabs__tab{
    border: none !important;
    bottom: 0 !important;
    padding: 0px !important;
}
.react-tabs__tab--selected{
    background: none !important;
    bottom: 0 !important;
    color: #5e48ce !important;

}
.my-chanel-menu .react-tabs__tab--selected a{

    border-bottom: 3px solid #5e48ce !important;
}
.banner-chanel {
    margin: 0px auto;
    width: 1170px;
    padding-top: 85px;
}
.banner-chanel img {
    width: 100%;
}

.mocha-chanel {
    margin: auto;
    padding-bottom: 60px;
    width: 1170px;
    margin-top: 0px;
}
.mocha-chanel .mc-h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
}
.mocha-chanel .mc-form {
    overflow: hidden;
}
.mc-form-avatar {
    float: left;
    position: relative;
    width: 95px;
    cursor: pointer;
}
.mc-form-avatar img {
    border-radius: 80px;
    width: 100%;
    height: 95px;
}
.mc-form-avatar span {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/icon_camera.png) no-repeat scroll 0 0;
    bottom: 0;
    height: 30px;
    position: absolute;
    right: -5px;
    width: 30px;
}
.mc-form-right {
    margin-left: 160px;
}
.mc-form-p {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
.mc-form-p input {
    border: 0 none;
    font-size: 17px;
    padding-bottom: 10px;
}
.mc-form-btn {
    margin-top: 40px;
}
.mc-form-btn a {
    background: #5e48ce none repeat scroll 0 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
    cursor: pointer;
}
.box-create-channel{
    margin: auto;
    width: 1170px;
    padding: 85px 0px 30px 0px;
}
.cate-hot-wrap .slick-slider {
    margin: 0px auto 0px;
}

button:focus {
    outline: none !important;
}

.react-tabs__tab:focus {
    box-shadow: none !important;
}

.react-tabs__tab:focus:after {
    background: inherit !important;
    height: 0px !important;
}

.mocha-box-login {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.2);
    /*left: 50%;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 555px;*/
    border-radius:10px;

}

.mbl-h3 {
    border-bottom: 1px solid #e1e1e1;
    color: #5e48ce;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    padding: 0 30px;
}

.mbl-form {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    padding-left: 30px;
}

.mbl-form-p {
    margin-bottom: 20px;
    overflow: hidden;
}

.mbl-sp-left {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    width: 130px;
}

.mbl-sp-right {
    float: left;
}

.mbl-sp-right .mbl-input-txt {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 10px;
    height: 40px;
    width: 345px;
    padding: 0px 10px;
    display: inline-block;
    outline: none;
    line-height: 45px;
}

.mbl-form-remember {
    margin-bottom: 0;
}

.mbl-info {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.mbl-info-p {
    font-weight: bold;
    margin-bottom: 12px;
}

.mbl-info-ul li::before {
    color: rgb(94, 72, 205);
    content: "■";
    font-size: 8px;
    margin-right: 7px;
    position: relative;
    top: -4px;
}
.body-login {
    background: rgba(0, 0, 0, 0) url(http://live84.keeng.net/playnow/images/static/web/bg_login.jpg) no-repeat scroll center bottom;
    height: 600px;
    position: relative;
    width: 100%;
}
.mbl-info-ul li {
    box-sizing: border-box;
    display: block;
    padding-bottom: 12px;
    padding-left: 1em;
    text-indent: -1em;
    width: 100%;
}

.mbl-btn-login {
    background: #5e48ce none repeat scroll 0 0;
    border-radius: 10px;
    /*color: #ffffff ;*/
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 160px;
    cursor: pointer;
    border: none;
}

.mbl-sp-right .mbl-input-select {
    background: #ebebeb none repeat scroll 0 0;
    border: 0 none;
    border-radius: 10px;
    height: 40px;
    width: 365px;
    padding: 0px 10px;
    outline: none;
    cursor: pointer;
}

.chanel-video-small {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

p.more-all-video {
    text-align: center;
}
p.more-all-video a {
    color: #5e48ce !important;
    cursor: pointer;
}
.slick-list {
    width: 100%;
}

/*!* Chrome, Opera, Safari *!*/
/*::-webkit-input-placeholder {*/
/*    color: #454545;*/
/*}*/

/*!* Firefox 19+ *!*/
/*::-moz-placeholder {*/
/*    color: #454545;*/
/*}*/

/*!* IE 10+ *!*/
/*:-ms-input-placeholder {*/
/*    color: #454545;*/
/*}*/

/*!* Firefox 18- *!*/
/*:-moz-placeholder {*/
/*    color: #454545;*/
/*}*/

.service-info {
    padding: 0px 20px;
}

.mocha-box-login1 {

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 555px;

}

.bpr-video-tabVideoCn {
    margin-bottom: 22px;
}

.chanel-edit a.waited {
    background: #9e9e9e;
    color: #ffffff;
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.slide_phim .owl-slider-next , .slide_phim .owl-slider-back {
    top: 30%;
}

.content-service {
    padding-bottom: 15px;
}
.box-video-list {
    width: 1170px;
    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid #1111;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}

/*#search_query::placeholder { !* Chrome, Firefox, Opera, Safari 10.1+ *!*/
    /*color: #ffffff !important;*/
    /*opacity: 1 !important; !* Firefox *!*/
/*}*/

/*#search_query:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
    /*color: #ffffff !important;*/
/*}*/

/*#search_query::-ms-input-placeholder { !* Microsoft Edge *!*/
    /*color: #ffffff !important;*/
/*}*/

/*::placeholder { !* Chrome, Firefox, Opera, Safari 10.1+ *!*/
    /*color: #888888 !important;*/
    /*opacity: 1 !important; !* Firefox *!*/
/*}*/

/*:-ms-input-placeholder { !* Internet Explorer 10-11 *!*/
    /*color: #888888 !important;*/
/*}*/

/*::-ms-input-placeholder { !* Microsoft Edge *!*/
    /*color: #888888 !important;*/
/*}*/
.vjs-watermark {
    position: absolute;
    display: inline;
    z-index: 8 !important;
    padding: 10px 0px 0px 0px;
    right: -50px !important;
}

.up_button_container {
    position: fixed;
    right: -100px;
    bottom: 40px;
    transition: right 0.75s;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.up_button_transition {
    right: 20px;
}


/*phuongntt css play video*/
.plyr--video {
    height: 450px;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: none!important;
    color: #fff;
}

.plyr__control.plyr__tab-focus {
    box-shadow: none!important;
    outline: 0;
}

.plyr--full-ui input[type=range] {
    color: #5e48ce!important;
}

.plyr__control--overlaid:focus, .plyr__control--overlaid:hover {
    background: #5e48ce!important;
}

.plyr__control--overlaid {
    background: #5e48ce!important;
}

.plyr--video .plyr__progress__buffer {
    color: rgba(255, 255, 255, 0.39)!important;
}

.roundLive {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 5px;
}


.info-video-search {
    float: right;
    width: 74%;
}

.slide_header .slick-slider .slick-list:before {
    top: 0px;
}

.content_upload {
    width: 100%;
    background: #dcdcdc;
}

body.modal-open #header {
    width: 98.95%;
}
#search_point::-webkit-input-placeholder {
    color: white !important;
}

#search_point:-moz-placeholder { /* Firefox 18- */
    color: white !important;
}

#search_point::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
}

#search_point:-ms-input-placeholder {
    color: white !important;
}
